@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster|Lobster+Two);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);


/* Custom page CSS
-------------------------------------------------- */

#wrap > .container {
  padding: 60px 15px 0;
}

h1,h2,h3,h4 {
  font-family: 'Kreon', serif;
  vertical-align:middle;
}

header {
  background: #FFF;
  /*height:550px;*/
}
.jumbotron {padding: 0;margin-bottom: 0;}
.jumbotron .splashscreen{
  
  background: url('/img/background.jpg') repeat-y;
  background-size: 100%;
}

.logo {
  height:484px;
  width:500px;
  background: url('/img/thecrabbyshack.logo.png') no-repeat center top;
}

header h1,header h2,header a,header a:hover {
  color:#101010;
  font-weight:800;
  text-decoration:none;
}

header .dropdown-menu {
  top:74px;
/*  background: #ffcc33;*/
  border-width:0;
}

h1 {
  font-size:50px;
  font-family: 'Lobster', cursive;
  color:#b6402f;
}
h2 {
  font-family: 'Lobster', cursive;
  color:#b6402f;
}
h3 {
    color:#003148;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
  
/* customize nav style */
.navbar {margin-bottom: 0;}

.navbar-custom {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  background-color: #a2d2e8;
  border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #003148;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #086CA2;
}
.navbar-custom  .navbar-nav li.active>a:hover {
  background-color: #086CA2;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover 
{
    background-color: #086CA2;
}
.navbar-custom ul.dropdown-menu{
	right:0;
    font-family: sans-serif;
    background-color: aliceblue;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.miniLogo {
  background: url('/img/thecrabbyshack.logo.mini.png') no-repeat center;
}

#map-canvas {
  	width: 100%; 
  	height: 360px;
	margin: 0;
} 

section {
  min-height: 500px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

#aboutUsSection {margin-top:20px; }

.bg-1 {
	background: url('/img/crabrolls.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url('/img/gwenandfifi.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#page1 h2 {
  padding-top:80px; 
  font-family: 'Open Sans', sans-serif; 
  font-weight:800; 
  font-size: 50px;
  text-transform:uppercase;
  letter-spacing:14px;
  color: #FFF;

  text-shadow: 2px 0 0 #086CA2, 
      -2px 0 0 #086CA2, 
      0 2px 0 #086CA2, 
      0 -2px 0 #086CA2, 
      1px 1px #086CA2, 
      -1px -1px 0 #086CA2, 
      1px -1px 0 #086CA2, 
      -1px 1px 0 #086CA2,
      3px 0 0 #FFF;
}

#menuSection {
  margin-top: 20px;
  border-radius:15px;
  background-color: aliceblue;
}
#menuSection img {width:100%; margin-bottom: 40px;}

section#aboutUsSection {padding: 60px 0;}
#aboutUsSection .bubble {padding:10px 40px;background-color:rgba(255,255,255,.8);border-radius:15px;}
#aboutUsSection p {font-size: 1.2em;color:#333;padding:5px 0px;text-align: left;text-rendering:optimizeLegibility;}

#socialmediaSection li a {margin:20px; color:#a2d2e8;}
#socialmediaSection li a:hover {color:#086CA2;}

.picframe {
  margin-top: 20px;
  padding:20px;
  border-radius:15px;
  background-color: aliceblue;
}

section dl, section address {border-radius:15px;background-color: #fff;padding:10px;margin-bottom: 0;}
.dl-horizontal dt {width: 45px;float: left;}
.dl-horizontal dd {width: 130px;margin-left: 55px;}

.kit {
  margin-top: 0;
}
.message {margin-left: 15px;}
.confMsg {
  background-color: aliceblue;
  padding:10px;
  border-radius: 8px;
  font-size: 120%;
}
.errorfMsg {
  background-color: rgb(253, 231, 231);
  padding:10px;
  border-radius: 8px;
  font-size: 120%;
}
#pressSection ul li {margin:20px;}
#footer img {width:140px; background-color:#FFF;}

@media only screen and (max-width: 800px) {
  .jumbotron {
    background: url('/img/background.jpg') no-repeat;
    background-size: 800px 600px;
  }
  .logo {
    height:290px;
    width:300px;
    background-size: 300px 290px;
  }

  .bg-1 {
    background-attachment: scroll;
    background-size: 100%;
    background-position: top;
  }
    
  .bg-3 {
    background-attachment: fixed;
    background-size: 100%;
    background-position: top;
  }
}

@media only screen and (max-width: 600px) {
  section {min-height: 400px;}
  .jumbotron {
    background: url('/img/background.jpg') no-repeat;
    background-size: 600px 800px;
  }
  
  #page1 h2 {
    font-size: 30px;
    letter-spacing:0.2em;
  }
    
  .divider {height: 20px;}
  #location .pull-right{
    float: left!important;
    padding-left: 30px;
  }
  #mailSubs.picframe {padding:42px;}
  #footer img {width:90px;}
  #footer {font-size: 70%;}
  #footer .fa-3x {font-size:2em;}
}
@media only screen and (max-width: 500px) {
  .jumbotron {
    background-size: 480px 320px;
  }
  .form-control {font-size: 12px;}
  .logo {
    height:214px;
    width:100%;
    background: url('/img/thecrabbyshack.logo.png') no-repeat center top;
    background-size: 220px 213px;
    margin:10px 0;
  }
  section {min-height: 330px;}
  section#aboutUsSection {padding-top: 30px;}
  #aboutUsSection p {
    /*font-size: 18px;*/
    padding:5px 10px;
  }

  .divider {height:10px;}
  #wrap > .container {
    padding: 20px 15px 0;
  }
  h1 {font-size: 30px;}
  h2 {}
  #page1 h2 {
    padding-top:20px; 
    font-size: 30px;
    line-height: 60px;
  }
  header h3 {font-size:18px;}
  #menuSection {margin-top:0;}
  #menuSection img{width:100%;}
  #menuSection ul {
    font-size: 22px;
    line-height: 32px;
    padding-left: 0;
  }
  .bg-1 {
    background-attachment: scroll;
    background-size: 100%;
    background-position: top;
  }

  .bg-3 {
    background-attachment: scroll;
    background-size: 100%;
    background-position: top;
    background-repeat: repeat-y;
  }
    #deliverySection img {width:65px}
}

@media only screen and (max-width: 400px) {
  #page1 h2 {
    font-size: 18px;
      
    text-shadow: 
      1px 1px #086CA2, 
      -1px -1px 0 #086CA2, 
      1px -1px 0 #086CA2, 
      -1px 1px 0 #086CA2; 
  }
    section {
        min-height: 220px;
        padding-top: 30px;
     }
  .bg-1 {
    background-size: 100%;
    
    background-repeat: no-repeat;
    background-position: top;

  }

  .bg-3 {
    background-image: url('/img/gwenandfifi-v.jpg');
    background-attachment: scroll;
    background-size: 100%;
    background-position: top;
    background-repeat: repeat-y;
  }
    #menuSection {
        height:720px;
    }
    #menuSection .col-md-12 {
        height:720px;
        padding:0;
        background: url('/img/menu-phone082415.png') no-repeat center top;
    }
    #menuSection img {
        display:none;
    }
    #detailsSection .col-xs-7 {width:85%}
    #socialmediaSection .fa-5x {font-size:3em;}
    #footer {font-size: 80%;}
    #footer img {width:75px;}
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
}
#footer {
  color: #efefef;
  background-color: #414141;
  padding: 20px;
}
#footer a {
  color: #9af7fe;
}

